# Dependencies
**/node_modules/
**/.pnpm-store/

# Build output
**/dist/
**/dist-ssr/
**/*.local

# Environment variables / secrets
**/.env
**/.env.*
!**/.env.example

# Vercel
**/.vercel/

# Logs
**/logs/
**/*.log

# OS / editor
**/.DS_Store
**/.idea/
**/.vscode/*
!**/.vscode/extensions.json
